doctype 5
html
	head
		script(src='/socket.io/socket.io.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		script(src='/index_client.js')
	body
		form(action="/upload", method="post", enctype="multipart/form-data")
			input(type="file", name="video")
			button(type="submit") Go
