doctype 5
html
	head
		script(src='/socket.io/socket.io.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		script
			var RoomID = #{roomName}
		script(src='/room_client.js')
	body
		h2 Room #{roomName}
		#uploader
			input(id="file-input",type="file", name="video")
			button(id="file-submit") Go
			br
			br
			br
		
		#player
			video(id="player") 
				source(src="/stream/abv",type="video/webm")

			br
			button(id="pause") Pause
			button(id="play")  Play
